.cart_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 25px;
}
.cart_container_header {
  border-radius: 10px;
  border: 2px solid #fff;
  background: linear-gradient(
    121deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  display: flex;
  align-items: center;
  padding: 20px;
  width: 500px;
}
.cart_container_header img {
  margin-right: 15px;
}
.cart_container_header div:first-child {
  color: #706da6;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;
}
.cart_container_header div:last-child {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.product_list_conatiner {
  width: 850px;
}
.cart_product_summary {
  flex: 1;
}
.cart_product_summary {
  margin-top: 20px;
}
.error {
  font-size: 13px;
  position: absolute;
  top: -37px;
  color: red;
}
.card_body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}
.card_component .heading {
  display: flex;
  width: 60%;
}
.card_component .heading_aside {
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.card_component .heading img {
  width: 120px;
  height: 120px;
  padding: 5px;
  border-radius: 7px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.product_card > div {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #fff;
  background: linear-gradient(
    121deg,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  box-shadow: 2px 6px 12px 4px rgba(0, 0, 0, 0.02);
}
.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
}
.card_component .heading_aside > div:first-child {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
}
.add_cart {
  flex-direction: row-reverse;
  display: flex;
  /* margin-bottom: 15px; */
}
.discount_section {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.discount_section input,
.discount_section select {
  padding: 5px 10px !important;
}
.discount_section_success {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 4px;
  position: relative;
}

.empty_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-top: 60px;
}
.empty_cart img {
  width: 300px;
  height: auto;
}
.empty_cart p {
  margin: 0;
}
